@model CourseItr.Models.RatingViewModel
<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("Create", "Rating", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h4>Star Rating</h4>
            <hr />
            <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label" for="Rating">Rating</label>
                <div class="col-lg-8">
                    <span class="rating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            var starClass = "star";
                            if (Model.Rating == 6 - i)
                            {
                                starClass += " active";
                            }
                            <span data-value="@(6 - i)" class="@starClass"></span>
                        }
                    </span>
                </div>
                @Html.HiddenFor(m => m.Rating)

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
    (function ($) {
    function RatingIndex() {
    var $this = this;
    function initialize() {
    $(".star").click(function () {
    $(".star").removeClass('active');
    $(this).addClass('active');
    var starValue = $(this).data("value");
    $("#Rating").val(starValue);
    })
    }
    $this.init = function () {
    initialize();
    }
    }
    $(function () {
    var self = new RatingIndex();
    self.init();
    })
    }(jQuery))
    </script>
}